{% extends 'base.html' %}

{% block title %}Инструкция{% endblock %}

{% block link_three %}active{% endblock %}

{% block content %}
<div class="container" style="margin-top: 60px;">
    <h2>Инструкция</h2>
    <p>
        <strong>1. </strong>Активировать код на странице <a href="{% url 'birthday:code' %}">"Код"</a>
    </p>
    <p>
        <strong>2. </strong>На открывшейся странице появится твой подарок. Если появится стихотворение, то подарок засекреченный &#128521;
    </p>
    <p>
        <strong>3. </strong>За раз все коды активировать не получится. Стоит ограничение, позволяющее активировать код только 1 раз за день. На странице <a href="{% url 'birthday:code' %}">"Код"</a> появится время, когда можно будет активировать снова.
    </p>
    <p>
        <strong>4. </strong>На странице <a href="{% url 'birthday:activated' %}">"Активированные"</a> можно отслеживать статусы всех кодов, которые ты активировала.
    </p>
</div>
{% endblock %}